In [1]:
# Dictionary
# -Indexing
# -Duplicate and multiple values
# -Ordered
# -Mutable

In [2]:
# # a = {}
# # b = dict()

# a = {<key>:<value>,<key>:<value>,....}

In [4]:
a = {"a":"Apple","b":"Ball","c":"Cat"}
b = {1:1,2:4,3:9,4:16}
print(a,b)

{'a': 'Apple', 'b': 'Ball', 'c': 'Cat'} {1: 1, 2: 4, 3: 9, 4: 16}

In [6]:
print(a['a'])
print(len(a))
print(len(b))

Apple
3
4

In [7]:
a = {"a":"Apple","b":"Ball","c":"Cat"}
for i in a:
    print(i)

a
b
c

In [8]:
a = {"a":"Apple","b":"Ball","c":"Cat"}
for i in a.values():
    print(i)

Apple
Ball
Cat

In [9]:
a = {"a":"Apple","b":"Ball","c":"Cat"}
for i in a.items():
    print(i)

('a', 'Apple')
('b', 'Ball')
('c', 'Cat')

In [10]:
a = {"a":"Apple","b":"Ball","c":"Cat","A":"Apple"}
print(a)

{'a': 'Apple', 'b': 'Ball', 'c': 'Cat', 'A': 'Apple'}

In [11]:
a = {"A":"Apple","b":"Ball","c":"Cat","A":"Ant"}
print(a)

{'A': 'Ant', 'b': 'Ball', 'c': 'Cat'}

In [14]:
a = {}
a['a'] = "Apple"
a['b'] = "Ball"
a['c'] = "Cat"
print(a)

{'a': 'Apple', 'b': 'Ball', 'c': 'Cat'}

In [15]:
d = dict()
n = int(input("Enter n = "))
for i in range(n):
    name = input("Enter name = ")
    phone = int(input("Enter phone = "))
    d[name] = phone
    
print(d)

Enter n = 2
Enter name = Ram
Enter phone = 9856556543
Enter name = Shyam
Enter phone = 9808956543
{'Ram': 9856556543, 'Shyam': 9808956543}

In [ ]:
# del pop()

In [17]:
a = {'Ram': 9856556543, 'Shyam': 9808956543}
del a['Ram']
print(a)

{'Shyam': 9808956543}

In [19]:
a = {'Ram': 9856556543, 'Shyam': 9808956543}
b = a.pop('Ram')
print(a)
print(b)

{'Shyam': 9808956543}
9856556543

In [21]:
a = {'Ram': 9856556543, 'Shyam': 9808956543}
a.clear()
print(a)

{}

In [22]:
a = {'Ram': 9856556543, 'Shyam': 9808956543}
b = {'Hari':9867667654}
a.update(b)
print(a)

{'Ram': 9856556543, 'Shyam': 9808956543, 'Hari': 9867667654}

In [24]:
# list inside dict
a = {'Ram': [9856556543,9808667654],'Shyam': [9808956543,9808556543]}
print(a)

{'Ram': [9856556543, 9808667654], 'Shyam': [9808956543, 9808556543]}

In [26]:
d = dict()
n = int(input("Enter n = "))
for i in range(n):
    name = input("Enter name = ")
    ntc_phone = int(input("Enter ntc phone = "))
    ncell_phone = int(input("Enter ntc phone = "))
    d[name] = [ntc_phone,ncell_phone]
    
print(d)

Enter n = 2
Enter name = Ram
Enter ntc phone = 9867667654
Enter ntc phone = 9808667654
Enter name = Shyam
Enter ntc phone = 987877865
Enter ntc phone = 9808556544
{'Ram': [9867667654, 9808667654], 'Shyam': [987877865, 9808556544]}

In [27]:
d = dict()
n = int(input("Enter n = "))
for i in range(1,n+1):
    name = input("Enter name = ")
    age = int(input("Enter age = "))
    add = input("Enter add = ")
    d[i] = [name,age,add]
    
print(d)

Enter n = 2
Enter name = Ram
Enter age = 89
Enter add = Kathmandu
Enter name = Shyam
Enter age = 45
Enter add = Lalitpur
{1: ['Ram', 89, 'Kathmandu'], 2: ['Shyam', 45, 'Lalitpur']}

In [28]:
# a = {"Name":["Ram","Shyam"],"Age":[34,56],"Address":["Kathmandu","Bara"]}
na = []
ag = []
ad = []
n = int(input("Enter n = "))
for i in range(1,n+1):
    name = input("Enter name = ")
    age = int(input("Enter age = "))
    add = input("Enter add = ")
    na.append(name)
    ag.append(age)
    ad.append(add)
    
info = {'Name':na,"Age":ag,"Address":ad}

Enter n = 2
Enter name = Ra
Enter age = 67
Enter add = Kathmandu
Enter name = Shyam
Enter age = 67
Enter add = Bhaktapur

In [29]:
print(info)

{'Name': ['Ra', 'Shyam'], 'Age': [67, 67], 'Address': ['Kathmandu', 'Bhaktapur']}

In [32]:
d = {'Ram': [9867667654, 9808667654], 'Shyam': [987877865, 9808556544]}
for i in d.items():
    print(i)

('Ram', [9867667654, 9808667654])
('Shyam', [987877865, 9808556544])

In [35]:
print(d['Ram'][0])

9867667654

In [36]:
d['Ram'][0] = 9841000000
print(d)

{'Ram': [9841000000, 9808667654], 'Shyam': [987877865, 9808556544]}

In [37]:
d['Ram'] = [9840000000,9808000000]
d

{'Ram': [9840000000, 9808000000], 'Shyam': [987877865, 9808556544]}

In [38]:
d = {'Ram': [9867667654, 9808667654], 'Shyam': [987877865, 9808556544]}
d['Ram'].append('014456554')
d

{'Ram': [9867667654, 9808667654, '014456554'],
 'Shyam': [987877865, 9808556544]}

In [40]:
d = {'Ram': [9867667654, 9808667654], 'Shyam': [987877865, 9808556544]}
d.update({'Hari':[9840000000,9808777777]})
d

{'Ram': [9867667654, 9808667654],
 'Shyam': [987877865, 9808556544],
 'Hari': [9840000000, 9808777777]}

In [43]:
a = {"Name":["Ram","Shyam"],"Age":[34,56],"Address":["Kathmandu","Bara"]}
a['Name'].append('Hari')
a['Age'].append(45)
a['Address'].append("Lalitpur")
a

{'Name': ['Ram', 'Shyam', 'Hari'],
 'Age': [34, 56, 45],
 'Address': ['Kathmandu', 'Bara', 'Lalitpur']}

In [44]:
data = {'Name': ['Ram', 'Shyam', 'Hari'],
 'Age': [34, 56, 45],
 'Address': ['Kathmandu', 'Bara', 'Lalitpur']}

name = input("Enter name = ")
index = data['Name'].index(name)
index

Enter name = Ram

0

In [45]:
del data['Name'][index]
del data['Age'][index]
del data['Address'][index]
data

{'Name': ['Shyam', 'Hari'], 'Age': [56, 45], 'Address': ['Bara', 'Lalitpur']}

In [1]:
def dict1():
    d1= {}
    n = int(input("Enter n = "))
    for i in range(n):
        x = int(input("Enter value = "))
        d1[x] = x*x
    return d1

def dict2():
    d2= {}
    n = int(input("Enter n = "))
    for i in range(n):
        x = int(input("Enter value = "))
        d2[x] = x*x
    return d2


x = dict1()
y = dict2()
x.update(y)

Enter n = 2
Enter value = 1
Enter value = 2
Enter n = 3
Enter value = 3
Enter value = 4
Enter value = 5

In [2]:
print(x)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

In [3]:
# dict inside list
a = [{'Name':'Ram','Age':34,'Address':'Kathmandu'},
    {'Name':'Shyam','Age':44,'Address':'Lalitpur'},
    {'Name':'Akash','Age':67,'Address':'Bhaktapur'}]
a

[{'Name': 'Ram', 'Age': 34, 'Address': 'Kathmandu'},
 {'Name': 'Shyam', 'Age': 44, 'Address': 'Lalitpur'},
 {'Name': 'Akash', 'Age': 67, 'Address': 'Bhaktapur'}]

In [4]:
info = []
n = int(input("Enter n = "))
for i in range(n):
    name = input("Enter name = ")
    age = int(input("Enter age = "))
    add = input("Enter add = ")
    data = {'Nam':name,'Age':age,'Address':add}
    info.append(data)
    
print(info)

Enter n = 2
Enter name = Ram
Enter age = 34
Enter add = Kathmandu
Enter name = Shyam
Enter age = 23
Enter add = Bhaktapur
[{'Nam': 'Ram', 'Age': 34, 'Address': 'Kathmandu'}, {'Nam': 'Shyam', 'Age': 23, 'Address': 'Bhaktapur'}]

In [8]:
info[0]['Phone'] = 986766654
info

[{'Nam': 'Ram', 'Age': 34, 'Address': 'Kathmandu', 'Phone': 986766654},
 {'Nam': 'Shyam', 'Age': 23, 'Address': 'Bhaktapur'}]

In [11]:
info[0]['Nam'] = "Ram Prasad"
info

[{'Nam': 'Ram Prasad',
  'Age': 34,
  'Address': 'Kathmandu',
  'Phone': 'Name',
  'Name': 'Ram Prasad'},
 {'Nam': 'Shyam', 'Age': 23, 'Address': 'Bhaktapur'}]

In [12]:
a = [{'Nam': 'Ram', 'Age': 34, 'Address': 'Kathmandu'}, 
     {'Nam': 'Shyam', 'Age': 23, 'Address': 'Bhaktapur'}]
a.append({'Nam': 'Nabin', 'Age': 13, 'Address': 'Bhaktapur'})
a

[{'Nam': 'Ram', 'Age': 34, 'Address': 'Kathmandu'},
 {'Nam': 'Shyam', 'Age': 23, 'Address': 'Bhaktapur'},
 {'Nam': 'Nabin', 'Age': 13, 'Address': 'Bhaktapur'}]

In [13]:
# dict inside dict
a = {1:{'Name':'Ram','Age':34,'Address':'Kathmandu'},
    2:{'Name':'Shyam','Age':23,'Address':'Lalitpur'},
    3:{'Name':'Hari','Age':53,'Address':'Bhaktapur'}}
a

{1: {'Name': 'Ram', 'Age': 34, 'Address': 'Kathmandu'},
 2: {'Name': 'Shyam', 'Age': 23, 'Address': 'Lalitpur'},
 3: {'Name': 'Hari', 'Age': 53, 'Address': 'Bhaktapur'}}

In [14]:
a[4] = {'Name': 'Nabin', 'Age': 56, 'Address': 'Bara'}
a

{1: {'Name': 'Ram', 'Age': 34, 'Address': 'Kathmandu'},
 2: {'Name': 'Shyam', 'Age': 23, 'Address': 'Lalitpur'},
 3: {'Name': 'Hari', 'Age': 53, 'Address': 'Bhaktapur'},
 4: {'Name': 'Nabin', 'Age': 56, 'Address': 'Bara'}}

In [15]:
a[1]['Phone'] = 9867667654
a[2]['Phone'] = 9866765454
a[3]['Phone'] = 9844543223
a[4]['Phone'] = 9889778765
a

{1: {'Name': 'Ram', 'Age': 34, 'Address': 'Kathmandu', 'Phone': 9867667654},
 2: {'Name': 'Shyam', 'Age': 23, 'Address': 'Lalitpur', 'Phone': 9866765454},
 3: {'Name': 'Hari', 'Age': 53, 'Address': 'Bhaktapur', 'Phone': 9844543223},
 4: {'Name': 'Nabin', 'Age': 56, 'Address': 'Bara', 'Phone': 9889778765}}

In [18]:
del a[1]['Phone']
a

{1: {'Name': 'Ram', 'Age': 34, 'Address': 'Kathmandu'},
 2: {'Name': 'Shyam', 'Age': 23, 'Address': 'Lalitpur', 'Phone': 9866765454},
 3: {'Name': 'Hari', 'Age': 53, 'Address': 'Bhaktapur', 'Phone': 9844543223},
 4: {'Name': 'Nabin', 'Age': 56, 'Address': 'Bara', 'Phone': 9889778765}}

In [19]:
del a[1]
a

{2: {'Name': 'Shyam', 'Age': 23, 'Address': 'Lalitpur', 'Phone': 9866765454},
 3: {'Name': 'Hari', 'Age': 53, 'Address': 'Bhaktapur', 'Phone': 9844543223},
 4: {'Name': 'Nabin', 'Age': 56, 'Address': 'Bara', 'Phone': 9889778765}}

In [20]:
# WAP to create dict inside dict
info = {}
n = int(input("Enter n = "))
for i in range(1,n+1):
    name = input("Enter name = ")
    age = int(input("Enter age = "))
    add = input("Enter add = ")
    data = {'Nam':name,'Age':age,'Address':add}
    info[i] = data
    
print(info)

Enter n = 2
Enter name = Ram
Enter age = 34
Enter add = Kathmandu
Enter name = Shyam
Enter age = 45
Enter add = Lalitpur
{1: {'Nam': 'Ram', 'Age': 34, 'Address': 'Kathmandu'}, 2: {'Nam': 'Shyam', 'Age': 45, 'Address': 'Lalitpur'}}