In [1]:
# b = open('<file_name>','<mode>')
# b.close()

In [2]:
# with open(<file_name>,<modes>) as file:
#     <operations>

In [3]:
# read -> r

# write -> w

# create -> x

# append -> a

In [8]:
try:
    b = open('data.txt','x')
    b.close()
except:
    print("The file is already there.")

The file is already there.

In [9]:
with open('data.txt','r') as file:
    print(file.read())

1.Hello world
2.Hello world
3.Hello world
4.Hello world
5.Hello world
6.Hello world

In [10]:
with open('data.txt','r') as file:
    print(file.read(20))

1.Hello world
2.Hell

In [14]:
with open('data.txt','r') as file:
    print(file.readline())
    file.readline()
    print(file.readline())

1.Hello world

3.Hello world

In [13]:
b = open('data.txt','r')
x = b.read()
print(type(x))
b.close()

<class 'str'>

In [18]:
n = int(input("Enter no of line = "))
file = open('data.txt','r')

for i in range(1,n+1):
    if n != i:
        file.readline()
    else:
        print(file.readline())
        break

b.close()

Enter no of line = 3
3.Hello world

In [24]:
with open('data.txt','a') as file:
    file.write('\n8.Hello World')

In [25]:
with open('data.txt','r') as file:
    print(file.read())

1.Hello world
2.Hello world
3.Hello world
4.Hello world
5.Hello world
6.Hello world7.Hello World
8.Hello World

In [26]:
s = str()
n = int(input("Enter n = "))
for i in range(n):
    product = input("Enter product name = ")
    price = int(input("Enter price = "))
    quantity = int(input("Enter quantity = "))
    total = price*quantity
    s = s+f"{product} {price} {quantity} {total}\n"
    
print(s)

with open('bill.txt','a') as file:
    file.write(s)

Enter n = 2
Enter product name = Momo
Enter price = 100
Enter quantity = 2
Enter product name = Coke
Enter price = 150
Enter quantity = 3
Momo 100 2 200
Coke 150 3 450

In [28]:
s = str()
n = int(input("Enter n = "))
b = open('bill.csv','a')

for i in range(n):
    product = input("Enter product name = ")
    price = int(input("Enter price = "))
    quantity = int(input("Enter quantity = "))
    total = price*quantity
    s = s+f"{product},{price},{quantity},{total}\n"
    
b.write('Product,Price,Quantity,Total\n')   
b.write(s)
b.close()

Enter n = 2
Enter product name = Momo
Enter price = 150
Enter quantity = 3
Enter product name = Coke
Enter price = 100
Enter quantity = 2

In [30]:
with open('bill.csv','r') as file:
    print(file.read())

Product,Price,Quantity,Total
Momo,150,3,450
Coke,100,2,200

In [31]:
import pandas as pd
df = pd.read_csv('bill.csv')
df

  Product  Price  Quantity  Total
0    Momo    150         3    450
1    Coke    100         2    200

In [ ]:
# pip install pandas

In [32]:
import pandas as pd
df = pd.read_csv('bill.csv')
print(type(df))

<class 'pandas.core.frame.DataFrame'>

In [41]:
import pandas as pd
df = pd.read_csv('bill.csv',nrows = 2)
df

   Sn Product  Price  Quantity  Total
0   1    Momo    150         3    450
1   2    Coke    100         2    200

In [40]:
import pandas as pd
df = pd.read_csv('bill.csv',nrows = 2,index_col = 'Sn')
df

   Product  Price  Quantity  Total
Sn
1     Momo    150         3    450
2     Coke    100         2    200