In [1]:
# Python collection
# -List
# -Tuple
# -Dictionary
# -Set

In [2]:
# # List
# -Indexed
# -Ordered
# -Multiple and duplicate Values
# -Mutable

In [3]:
a = list()
l = ["Apple","Ball","cat"]
print(type(l))

<class 'list'>

In [7]:
l = ["Apple","Ball","cat","Dog","Fish"]
print(l[0])
print(l[-1])
print(l[0:5])
print(l[0:6:2])

Apple
Fish
['Apple', 'Ball', 'cat', 'Dog', 'Fish']
['Apple', 'cat', 'Fish']

In [8]:
l = ["Apple","Ball","cat","Dog","Fish"]
print(l)

['Apple', 'Ball', 'cat', 'Dog', 'Fish']

In [9]:
l = ["Apple","Ball","cat","Dog","Fish"]
k = ["Zebra"]
print(l+k)

['Apple', 'Ball', 'cat', 'Dog', 'Fish', 'Zebra']

In [10]:
l = ["Apple","Ball","cat","Dog","Fish","Apple","Apple"]
print(l)

['Apple', 'Ball', 'cat', 'Dog', 'Fish', 'Apple', 'Apple']

In [12]:
l = ["Apple","Ball","cat","Dog","Fish"]
l[0] = "Ant"
print(l)

['Ant', 'Ball', 'cat', 'Dog', 'Fish']

In [13]:
a = []
b = ["Ball"]
print(a+b)

['Ball']

In [15]:
names = list()
n = int(input("Enter n = "))
for i in range(n):
    x = input("Enter  name = ")
    names = names +[x]
    
print(names)

Enter n = 2
Enter  name = Ram
Enter  name = Shyam
['Ram', 'Shyam']

In [18]:
y = list()
n = int(input("Enter n = "))
for i in range(n):
    x = int(input("Enter  x = "))
    y = y +[x]
    
print(y)
print("Sum of the list = ",sum(y))
print("max value of the list = ",max(y))
print("min value of the list = ",min(y))

Enter n = 5
Enter  x = 24324
Enter  x = 3453
Enter  x = 64565
Enter  x = 234
Enter  x = 6767
[24324, 3453, 64565, 234, 6767]
Sum of the list =  99343
max value of the list =  64565
min value of the list =  234

In [19]:
y.sort()
print(y)
y.reverse()
print(y)

[234, 3453, 6767, 24324, 64565]
[64565, 24324, 6767, 3453, 234]

In [20]:
y = list()
n = int(input("Enter n = "))
for i in range(n):
    x = input("Enter  x = ")
    y = y +[x]
    
print(y)

Enter n = 5
Enter  x = ball
Enter  x = Apple
Enter  x = zebra
Enter  x = Xray
Enter  x = Goat
['ball', 'Apple', 'zebra', 'Xray', 'Goat']

In [21]:
y.sort()
print(y)

['Apple', 'Goat', 'Xray', 'ball', 'zebra']

In [22]:
# append()
# insert()
# extend()

In [23]:
x = ['Apple', 'Goat', 'Xray', 'ball', 'zebra']
x.append("Fish")
print(x)

['Apple', 'Goat', 'Xray', 'ball', 'zebra', 'Fish']

In [ ]:
y = list()
n = int(input("Enter n = "))
for i in range(n):
    x = input("Enter  x = ")
    y.append(x)
    
print(y)

In [24]:
x = ['Apple', 'Goat', 'Xray', 'ball', 'zebra']
x.insert(1,"Ball")
print(x)

['Apple', 'Ball', 'Goat', 'Xray', 'ball', 'zebra']

In [25]:
x = ['Apple', 'Goat', 'Xray', 'ball', 'zebra']
y = [1,2,3,4]
x.extend(y)
print(x)

['Apple', 'Goat', 'Xray', 'ball', 'zebra', 1, 2, 3, 4]

In [27]:
x = ['Apple', 'Goat', 'Xray', 'ball', 'zebra']
for i in x:
    print(i)

Apple
Goat
Xray
ball
zebra

In [28]:
x = ['Apple', 'Goat', 'Xray', 'ball', 'zebra']
for i in x:
    print(x)

['Apple', 'Goat', 'Xray', 'ball', 'zebra']
['Apple', 'Goat', 'Xray', 'ball', 'zebra']
['Apple', 'Goat', 'Xray', 'ball', 'zebra']
['Apple', 'Goat', 'Xray', 'ball', 'zebra']
['Apple', 'Goat', 'Xray', 'ball', 'zebra']

In [30]:
x = ['Apple', 'Goat', 'Xray', 'ball', 'zebra']
for i in x:
    if i == 'Xray':
        break
    print(i)

Apple
Goat

In [31]:
x = ['Apple', 'Goat', 'Xray', 'ball', 'zebra']
for i in x:
    if i == 'Xray':
        continue
    print(i)

Apple
Goat
ball
zebra

In [32]:
x = ['Apple', 'Goat', 'Xray', 'ball', 'zebra']
if "Apple" in x:
    print("Yes",x.count("Apple"))

Yes 1

In [34]:
# del remove() pop()
x = ['Apple', 'Goat', 'Xray', 'ball', 'zebra']
del x[0]
print(x)

['Goat', 'Xray', 'ball', 'zebra']

In [35]:
x = ['Apple', 'Goat', 'Xray', 'ball', 'zebra']
x.remove('Apple')
print(x)

['Goat', 'Xray', 'ball', 'zebra']

In [39]:
x = ['Apple', 'Goat', 'Xray', 'ball', 'zebra']
y = x.pop(2)
print(x)
print(y)

['Apple', 'Goat', 'ball', 'zebra']
Xray

In [42]:
x = ['Apple', 'Goat', 'Xray', 'ball', 'zebra','Xray']
l = len(x)
for i in range(l):
    if x[i] == "Xray":
        print(i)

2
5

In [43]:
x = ['Apple', 'Goat', 'Xray', 'ball', 'zebra','Xray']
for i in x:
    if i == "Xray":
        x.remove("Xray")
        
print(x)

['Apple', 'Goat', 'ball', 'zebra']

In [1]:
# list inside list
a = [[1,2,3],
    [4,5,6],
    [7,8,9]]

b = [[],[],[]]
print(a)
print(type(a))

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]
<class 'list'>

In [2]:
a = [["Ram",34,"Kathmandu"],
    ["Shyam",45,"Patan"],
    ["Hari",67,"Bara"]]
print(a)

[['Ram', 34, 'Kathmandu'], ['Shyam', 45, 'Patan'], ['Hari', 67, 'Bara']]

In [3]:
a = [["Ram",34,"Kathmandu"],
    ["Shyam",45,"Patan"],
    ["Hari",67,"Bara"]]
for i in a:
    print(i)

['Ram', 34, 'Kathmandu']
['Shyam', 45, 'Patan']
['Hari', 67, 'Bara']

In [5]:
a = [["Ram",34,"Kathmandu"],
    ["Shyam",45,"Patan"],
    ["Hari",67,"Bara"]]
print(a[0])

['Ram', 34, 'Kathmandu']

In [6]:
a = [["Ram",34,"Kathmandu"],
    ["Shyam",45,"Patan"],
    ["Hari",67,"Bara"]]
print(a[0][0])

Ram

In [8]:
info = list()
n = int(input("Enter n = "))
for i in range(n):
    name = input("Enter name = ")
    age = int(input("Enter age = "))
    add = input("Enter add = ")
    data = [name,age,add]
    info.append(data)
    
print(info)

Enter n = 2
Enter name = ram
Enter age = 34
Enter add = Kathmandu
Enter name = Shyam
Enter age = 45
Enter add = Baluwatar
[['ram', 34, 'Kathmandu'], ['Shyam', 45, 'Baluwatar']]

In [9]:
info = [['ram', 34, 'Kathmandu'], ['Shyam', 45, 'Baluwatar']]
info.append(['Hari',56,'Janakpur'])
info

[['ram', 34, 'Kathmandu'],
 ['Shyam', 45, 'Baluwatar'],
 ['Hari', 56, 'Janakpur']]

In [19]:
search = input("Enter search = ")
for i in info:
    if search in i:
        print(i)
        break
else:
    print("No data found.")

Enter search = ram
['ram', 34, 'Kathmandu']

In [23]:
info = [['ram', 34, 'Kathmandu'], ['Shyam', 45, 'Baluwatar']]
info[0][0] = "Ram"
print(info)

[['Ram', 34, 'Kathmandu'], ['Shyam', 45, 'Baluwatar']]

In [24]:
info = [['ram', 34, 'Kathmandu'], ['Shyam', 45, 'Baluwatar']]
info[0][0] = info[0][0].title()
print(info)

[['Ram', 34, 'Kathmandu'], ['Shyam', 45, 'Baluwatar']]

In [27]:
info = [['ram', 34, 'Kathmandu'], ['Shyam', 45, 'Baluwatar']]
del info[1]
print(info)

[['ram', 34, 'Kathmandu']]

In [28]:
info = [['ram', 34, 'Kathmandu'], ['Shyam', 45, 'Baluwatar']]
del info[0][0]
print(info)

[[34, 'Kathmandu'], ['Shyam', 45, 'Baluwatar']]

In [30]:
info = [['ram', 34, 'Kathmandu'], 
        ['Shyam', 45, 'Baluwatar']]
print(len(info))

2

In [ ]:
[]

In [31]:
m = []
r = int(input("Enter r = "))
c = int(input("Enter c = "))
for i in range(r):
    n = []
    for j in range(c):
        x = int(input("Enter x = "))
        n.append(x)  #[4,5,6]
    m.append(n) #[[1,2,3],[4,5,6],[7,8,9]]
    
print(m)

Enter r = 3
Enter c = 3
Enter x = 1
Enter x = 2
Enter x = 3
Enter x = 4
Enter x = 5
Enter x = 6
Enter x = 7
Enter x = 8
Enter x = 9
[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [32]:
s = str()
n = int(input("Enter n = "))
for i in range(n):
    name = input("Enter name = ")
    phone = input("Enter phone = ")
    s = s+f"{name} {phone}\n"
    
print(s)

Enter n = 2
Enter name = Ram
Enter phone = 9856556543
Enter name = Shyam
Enter phone = 9867665654
Ram 9856556543
Shyam 9867665654

In [33]:
print(s)
s

Ram 9856556543
Shyam 9867665654

'Ram 9856556543\nShyam 9867665654\n'

In [49]:
l = []
x = s.split('\n')[:-1]
for i in x:
    l.append(i.split())
l

[['Ram', '9856556543'], ['Shyam', '9867665654']]

In [43]:
x = []
a = s.split('\n')[0:-1]
print(a)
for i in a:
    y = i.split()
    x.append(y)
    
print(x)

['Ram 9856556543', 'Shyam 9867665654']
[['Ram', '9856556543'], ['Shyam', '9867665654']]

In [41]:
a = "Apple Ball"
a.split()

['Apple', 'Ball']