In [1]:
#String -> Imutable datatype
a = "Hello World"
print(a)
print(type(a))

Hello World
<class 'str'>

In [8]:
a = "Hello "
b = "World"
c = a+b
print(c)

Hello World

In [4]:
a = "Hello World\n"
print(a*2)

Hello World
Hello World

In [15]:
a = "Hello World"
print(a[0])
print(a[0:5])
print(a[0:11:2])
l = len(a)
print(l)

H
Hello
HloWrd
11

In [26]:
a = "Hello World"
a[5:]

' World'

In [32]:
a = "Hello World"
l = len(a)
print(a[l::-1])
print(a[11:0:-1])

dlroW olleH
dlroW olle

In [20]:
a = "Hello World"
print(a[l-1])

d

In [33]:
a = "Hello World"
print(a[0:100])

Hello World

In [35]:
name = "Ram"
age = 20
add = "kathmandu"
info = name+str(age)+add
print(info)

Ram20kathmandu

In [39]:
# string formatting
name = "Ram"
age = 20
add = "kathmandu"
info = f"Hello I am {name}. I am {age}. I am from {add}."
print(info)

Hello I am Ram. I am 20. I am from kathmandu.

In [41]:
s = str()
n = int(input("Enter n = "))
for i in range(n):
    name = input("Enter name = ")
    phone = input("Enter phone = ")
    s = s+f"{name} {phone}\n"
    
print(s)

Enter n = 2
Enter name = Ram
Enter phone = 9856556543
Enter name = Shyam
Enter phone = 9867665654
Ram 9856556543
Shyam 9867665654

In [42]:
s = str()
n = int(input("Enter n = "))
for i in range(n):
    product = input("Enter product name = ")
    price = int(input("Enter price = "))
    quantity = int(input("Enter quantity = "))
    total = price*quantity
    s = s+f"{product} {price} {quantity} {total}\n"
    
print(s)

Enter n = 2
Enter product name = Momo
Enter price = 150
Enter quantity = 2
Enter product name = Coke
Enter price = 50
Enter quantity = 3
Momo 150 2 300Coke 50 3 150

In [53]:
# search
name = input("Enter name = ").lower()
a = "Ram Shyam Hari Sita Ram Shyam Sita Rita".lower()
if name in a:
    print("Yes")
    print(a.count(name))
else:
    print("There is no any such name")

Enter name = ssd
There is no any such name

In [47]:
# upper() lower()
a = "Hello World"
print(a.upper())
print(a.lower())

HELLO WORLD
hello world

In [58]:
a = "hello world"
print(a.title())

Hello World

In [ ]:
# isupper() islower() isalpha()

In [59]:
a = "Ram Shyam Hari Sita Ram Shyam Sita Rita"
print(a.replace('Ram','Rama'))
print(a)

Rama Shyam Hari Sita Rama Shyam Sita Rita
Ram Shyam Hari Sita Ram Shyam Sita Rita

In [60]:
a = "Ram Shyam Hari Sita Ram Shyam Sita Rita"
a = a.replace('Ram','Rama')
print(a)

Rama Shyam Hari Sita Rama Shyam Sita Rita

In [ ]:
a = "Ram Shyam Hari Sita Ram Shyam Sita Rita"
print(a.replace('Ram','Rama'))
print(a)

In [64]:
a = "Ram Shyam Hari Sita Ram Shyam Sita Rita"
a = a.replace('Ram','')
print(a)

 Shyam Hari Sita  Shyam Sita Rita

In [62]:
a = "Ram Shyam Hari Sita Ram Shyam Sita Rita".lower()
a = a.replace('ram','Rama')
a = a.title()
a

'Rama Shyam Hari Sita Rama Shyam Sita Rita'